<h1>welcome to ashok it</h1>
<h2 class="text-uppercase,font-weight-bold">{{message}}</h2>

<div class="container">
<div class="row">
<div class="col-md-12">  
    <!-- header part--> 
    <!-- As a link -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>
</div>
</div>
<div class="row">
    <div class="col-md-12">  
         <!-- content part--> 
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <!-- footer part-->   
        </div>
        </div>
</div>

